
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- 轮播图项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img class="slide-image" src="http://placehold.it/800x300" alt="picture1">
        </div>
        <div class="item">
            <img class="slide-image" src="http://placehold.it/800x300" alt="picture2">
        </div>
        <div class="item">
            <img class="slide-image" src="http://placehold.it/800x300" alt="picture3">
        </div>
    </div>

    <!-- 轮播 导航 -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>




























